Debug/
Release/
x64/
x86/
[Bb]in/
[Oo]bj/
*.exe
*.out
*.app
*.o
*.obj
*.ilk
*.pdb
*.tlog
*.lastcodeanalysissucceeded
*.log


.vs/
.vscode/


*.user
*.suo
*.userosscache
*.sln.docstates

.DS_Store
Thumbs.db