# ==========================================
# Dossiers de compilation et binaires
# ==========================================
Debug/
Release/
x64/
x86/
[Bb]in/
[Oo]bj/
*.exe
*.out
*.app
*.o
*.obj
*.ilk
*.pdb
*.tlog
*.lastcodeanalysissucceeded
*.log

# ==========================================
# Dossiers cachés et métadonnées Visual Studio
# ==========================================
.vs/
.vscode/

# ==========================================
# Fichiers de préférences et d'état utilisateur
# ==========================================
*.user
*.suo
*.userosscache
*.sln.docstates

# ==========================================
# Fichiers temporaires système
# ==========================================
.DS_Store
Thumbs.db